.box_destino {
    vertical-align: bottom;
    }
    
    .bonito {
    width:100px;;
    }
    
    .fortaleza {
        width:100px;;
    }
    
    .gramado {
        width:100px;
    }
    
    .maceio {
        width: 100px;
    }
    
    .sao {
        width: 100px;
    }
    
    .rj {
        width: 100px;
    }
    
    .salvador {
        width: 100px;
    }